<form action="#" th:action="@{/adduser}" th:object="${users}" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
    <label for="email">email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <label for="password">password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <input type="submit" value="Add User">
</form>