<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body class="bg-dark">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-circle-o"></i>
        <b> EFT MODDING GUIDE</b>
    </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbar11">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"> <a class="nav-link" href="weapons.html">Weapons</a> </li>
                <li class="nav-item"> <a class="nav-link" href="addWeapon.html">Add Weapon</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/addweaponmod">Add Attachment</a> </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">FAQ</a> </li>
            </ul> <a class="btn navbar-btn ml-md-2 text-light btn-secondary">Contact us</a>
        </div>
    </div>
</nav>
<div class="py-5" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-dark" style="">
                    <div class="card-header text-light"> Here you can add a new weapon attachment to database </div>
                    <div class="card-body text-light">
                        <p>When adding new attachment remember to add all parameters correct, also make a screenshot of it.</p>
                    </div>
                </div>
                <form action="#" th:action="@{/addAttach}" th:object="${weapon_attachments}" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
                    <div class="form-row mr-5">
                        <div class="form-group col-md-2" style="">
                            <label for="attach_name" class="text-white">Name</label>
                            <input type="text" class="form-control w-100" id="attach_name" placeholder="example: pk06">
                        </div>
                        <div class="form-group col-md-2" style="">
                            <label for="attach_type" class="text-white">Type</label>
                            <input type="text" class="form-control w-100" id="attach_type" placeholder="scope">

                        </div>
                        <div class="form-group col-md-2" style="">
                            <label for="ergonomics" class="text-white">Ergo</label>
                            <input type="text" class="form-control w-100" id="ergonomics" placeholder="+15">
                        </div>
                        <div class="form-group col-md-2" style="">
                            <label for="muzzle_velocity" class="text-white">Muzzle velocity</label>
                            <input type="text" class="form-control w-100" id="muzzle_velocity" placeholder="+0.75">
                        </div>
                        <div class="form-group col-md-2" style="">
                            <label for="accuracy" class="text-white">Accuracy</label>
                            <input type="text" class="form-control w-100" id="accuracy" placeholder="0.4">
                        </div>
                        <div class="form-group col-md-2" style="">
                            <label for="size_change" class="text-white">Size change</label>
                            <input type="text" class="form-control w-100" id="size_change" placeholder="+1">
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                            </div>
                            <div class="custom-file col-md-3">
                                <input type="file" class="custom-file-input" id="" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">  <button type="submit" class="btn btn-primary">Add</button> </div>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</div>
</body>

</html>